
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
}
h1{
    color: white;
}
.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    position: relative;


}
.background{
    background: linear-gradient(rgba(92, 88, 88, 0.5),rgba(0, 0, 0, 1.0)),url('images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: -1;
    
}   
.logo > img{
    width:20%;
    height:20%;
    z-index: 1;

}

.header{
    position: absolute;
    display: flex;
    align-items: center;
    height: 10vh;
    width:100%;

}
.bollywood-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4px;
}
.signin{
    justify-content: flex-end;
    width:15rem;
    height: 2rem;
    margin-right:6px;
    margin-bottom:1.4rem;
    background-color: red;
    border: none;
    color: white;
    font-size: medium;
    border-radius:3px ;
}
.unlimited{
    color: white;
    line-height: 80px;
    font-size: 4rem;
    font-weight: bold;
}
.hollywood{

    font-size: 5rem;
    background: -webkit-linear-gradient(left,#F0763A,rgb(134, 6, 134));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bollywood{
    font-size: 5.1rem;
    min-width: 3rem;
    background: -webkit-linear-gradient(left,#F0763A,rgb(134, 6, 134));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hr{
    position: absolute;
    width:100%;
    height: 12px;
    background-color: rgb(43, 42, 42);
    z-index: 1;
    bottom: 0;
    margin: auto;
}
.membership{
    width:30rem;
    height: 3.5rem;
    margin-top:1.4rem;
    background-color: red;
    border: none;
    color: white;
    font-size: xx-large;
    font-weight:bold;
    border-radius:3px ;
}
.body{
    position: relative;
    height: 80vh;
    width:100%;
    display: flex;
}
.heading,.sub-heading{
    color: white;
}
.heading{
    font-size: 3.6rem;
}
.sub-heading{
    font-weight: lighter;
    font-size: 2.2rem;
}
.container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container > img{
    width:51%;
    height: 70%;
    object-fit: cover;
    mask-image: linear-gradient(rgba(92, 88, 88, 1),rgba(0, 0, 0, 1.0));
}
.content{
    margin-left:55px;
    margin-right:55px;  
}
.container .poster-image{
    width: 50%;
    height: 60%;
    object-fit: cover;
}
.frequently-asked >h1{
    font-weight: bolder;
    font-size: 3.8rem;
    margin-top: 30px;
    margin-bottom: 10px;
}
.frequently-asked{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 5%;
}
.boxes{
    width: 50%;
    height: 50%;
}
.box{
    margin-top: 10px;
    margin-bottom: 4px;
    display: flex;
    background-color: #303030;
    padding: 18px;
    justify-content: space-between;
}
.box >.question > p{
    font-size: 1.8rem;
    font-weight: lighter;
}